*{margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
   
}

header{
    background-color:#73AAB9;

}


main{
  background-color:#F9F9F9;
 

}



nav {
    background-color:#73AAB9;
}
ul.menu-nav{
   list-style-type: none;
   color: #f2f2f2;
   font-size: 24px;
   display: flex;
   justify-content: flex-end;
   font-family: 'Roboto Condensed', sans-serif;
   margin: 0;
   padding: 10px;

}


.menu-nav li {
    padding: 5px;
    align-self: center;
}

.menu-nav li a {
    color: #f2f2f2;
    text-decoration: none;
}
.banner {
    margin: 0px;
    background-image: url();
    color: #FF9800;
    background-color: #696969;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    text-align: center;
    background-image: url('../img/AdobeStock_442094579.jpeg');
    background-size: 900px;
    width: 100%;

}


.banner h1{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
h3{
    color:#f2f2f2;
    background-color: #FF9800;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    border-radius: 8px;
    
}

.container {
    width: 100%;
   
  

}
.carousel-item {
    margin: 20px auto;

}
.card_home {
    background-color: #f2f2f2;
    display: flex;
    border-radius: 8px;
    justify-content: space-between;
}


.card_home img {
    width: 30%;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    height: 400px;
    justify-content: center;
}
.card-body_home{
   margin: auto 0;
   justify-content: center;
   background-color: #f2f2f2;
    border-radius:  0 0  8px 8px;
    color:#696969;
    width:69%;
}

.card-body_home .card-title   {
    text-align: justify;
}

.card-body_home p{
    text-align: justify;
    margin-right: 20px;
}

footer ul{
    background-color:#73AAB9 ;
    padding: 10px;
    list-style-type: none;
    color: #f2f2f2;
    font-size: 24px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}


footer li {
    padding: 5px;
    align-self: center;
}


@media only screen and (max-width:1000px) {
  

    .container {
        width: 100%;
        min-height: 850px;
    }
    .carousel-item {
        margin: 50px 0;
    
    }

    .card_home {
        background-color: #f2f2f2;
        border-radius: 8px;
        display: block;
        padding: 10px;
    }
    .card_home img {
        width: 100%;
        border-radius: 8px;
        text-align: center;
        height: 400px;
        margin: 0 auto;
    }
    .card-body_home{
         margin: 10px auto;
         text-align: justify;
         background-color: #f2f2f2;
         border-radius:  0 0  8px 8px;
         color:#696969;
         width:100%;
     }
     
    .card-body_home p{
        text-align: justify;
        margin-right: 20px;
    }


  }